<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Azure.*" />
      <package pattern="Microsoft.Graph*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="Microsoft.IdentityModel.*" />
      <package pattern="System.ClientModel" />
      <package pattern="System.Memory.Data" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="System.Numerics.Vectors" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
      <package pattern="System.ServiceProcess.ServiceController" />
      <package pattern="System.Management" />
      <package pattern="Microsoft.Windows.SDK.NET.Ref" />
    </packageSource>
  </packageSourceMapping>
</configuration>
